span, body {
	font-family: "arial", sans-serif;
	font-size:95%;
text-align: justify; 

}
span.author, span.author1 {
	color: black;
}
span.author1 {
	font-weight: bold;
//	text-decoration: underline;
}
span.title {
	color: green;
}
span.conf {
	color: blue;
}

body { 
	max-width: 45em; 
	background-color : #DBE9E1;
}

td {
	bgcolor : #DBE9E1;
	bordercolor : #FF0000;
}

html > body > ul > li {
	font-weight: bold;
	color: olive;
}